@model IEnumerable<SistemasContables.Models.Cuentas>

@{
    ViewBag.Title = "Catalogo de Cuentas";
}
<hr />
<h2 class="text-center">Registros Cuentas</h2>
<hr />
<div class="row">

    <div class="col-md-3">
        <button class="btn btn-default" onclick="CreateCategory()" id="NuevoRegistro">Nuevo Registro</button>
    </div>
    <div class="col-md-9 " id="busquedaFiltrada">
        <div class="col-md-6 col-md-offset-3">
            @using (Html.BeginForm("Index", "Cuentas"))
            {
                <input type="text" name="buscador" class="form-control " style="display:inline" placeholder="Busqueda Filtarada Por Codigo" />
                <input type="submit" value="Buscar" class="btn btn-success " title="Busqueda Filtarada Por Codigo" />

            }
        </div>
        <div class="col-md-2">
            <button class="btn btn-default margenBoton col-md-offset-2 glyphicon glyphicon-filter" title="Eliminar Filtro Actual">@Html.ActionLink("Eliminar Filtro", "Index")</button>
        </div>
    </div>
   

</div>
  

<div class="container">
    <div id="CreateCuenta" hidden>
        @Html.Partial("Create", new SistemasContables.Models.Cuentas())
    </div>
</div>
<div class="container">
    <div id="EditCuenta" hidden>
       @Html.Partial("Edit", new SistemasContables.Models.Cuentas())
    </div>
</div>

<div class="jumbotron jumbotron-category">
    <div class="row encabezado div-registros ">
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.CodigoCuenta)
        </div>
        <div class="col-md-2">
           Categoria
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.nombre)

        </div>
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.Descripcion)
        </div>

    </div>
    @foreach (var cuentas in Model)
    {
    <div class="row div-registros">
        <div class="col-md-1">
            @Html.DisplayFor(modelItem => cuentas.CodigoCuenta)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => cuentas.Category.nombre)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => cuentas.nombre)

        </div>
        <div class="col-md-3">
            @Html.DisplayFor(modelItem => cuentas.Descripcion)
        </div>
        <div class="col-md-4">
            <div class="col-md-4">

                <button class="btn btn-default" data-toggle="modal" data-target="#ModalDetalle" onclick="DetailsCategory(@cuentas.CodigoCuenta)"><span class="glyphicon glyphicon-modal-window">Detalles</span></button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-warning" onclick="EditCategoryModal(@cuentas.CodigoCuenta)"><span class="glyphicon glyphicon-edit">Modificar</span></button>
            </div>
            <div class="col-md-4">
                <a title="Borrar" class="btn btn-danger" data-toggle="modal" data-target="#ModalP" onclick="SetDelete(@cuentas.CodigoCuenta)"><span class="glyphicon glyphicon-remove">Eliminar</span></a>
            </div>
        </div>

    </div>
    }

</div>

<div class="modal fade " tabindex="-1" role="dialog" id="ModalP">

    @using (Html.BeginForm("Delete", "Cuentas", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="modal-dialog " role="document">
            <div class="modal-content modalcontenedor modal-estilo">
                <div class="modal-header modalheadfoot">
                    <h1 class="modal-title text-center">Eliminar </h1>

                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input name="id" id="delete" class="form-control" type="hidden" />
                        <p class="pmodal">
                            ¿Está seguro que desea eliminar esta Cuenta ? Se perderan todos sus Registros!
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary borrarboton">Borrar</button>

                    <button type="button" class="btn btn-secondary botoncancelar" data-dismiss="modal" onclick="cerrarModal()">Cerrar</button>

                </div>
                <footer class="modalheadfoot"></footer>
            </div>
        </div>
    }
</div>
<div class="modal fade " tabindex="-1" role="dialog" id="ModalDetalle">

    <div class="modal-dialog " role="document">
        <div class="modal-content modalcontenedor modal-estilo-Details">
            <div class="modal-header modalheadfoot">
                <h1 class="modal-title text-center" style="color:black;">Detalles de  la Cuenta</h1>
            </div>
            <div class="modal-body">
                <div id="DetalleCategoria">
                    <div>
                        @Html.Partial("Details", new SistemasContables.Models.Cuentas())
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary botoncancelar" data-dismiss="modal" onclick="cerrarModal()">Regresar</button>

            </div>
            <footer class="modalheadfoot"></footer>
        </div>
    </div>

</div>





<script>

    function cerrarModal() {
        $("#NuevoRegistro").show();
    }
    function SetDelete(id) {
        $("#delete").val(id);
        $("#EditCuenta").hide();

    }
    function CreateCategory() {
        $("#CreateCuenta").show();
        $("#NuevoRegistro").hide();
        $("#busquedaFiltrada").hide();

    }

    function EditCategoryModal(id) {
        $("#EditCuenta").load("Cuentas/Edit/" + id).show();
        $("#NuevoRegistro").hide();
    }
    function DetailsCategory(id) {
        $("#DetalleCategoria").load("Cuentas/Details/" + id).show();
        $("#NuevoRegistro").hide();
        $("#EditCuenta").hide();

    }
</script>


